/*CSS styling for Crystal Collector game-*/


body {
	background-image: url("../images/irishbackground.png-original");
}

.title {
	background-color: yellow;
	font-size: 30px;
}

.instructions {
	background-color: #7BAFD4;
	font-size: 18px;
	color: white;
	padding: 10px;
}

#guessbox {
	background-color: green;
	padding: 50px;
	color: white;

}

#win-loss {
	background-color: blue;
	padding: 50px;
	color: white;
	font-size: 30px;

}

#currentscorebox {
	background-color: blue;
	padding: 25px;
	color: white;
	font-size: 20px;
}